.addNote
{
    background-color: rgba(0, 0, 0, 0.2);
}

.linearGradient
{
    background:linear-gradient(to right,#e9f6fb,#faf8e0);
}
@media screen  and (max-width:700px){
    .headInnerDiv
    {
        width: 100%;
    }
    .eachNodeDiv
    {
        display: block;
    }
    
}